<%- include('header') %>
<div class="item">
  <h2><%= item.name %></h2>
  <p>$ <%= item.price%></p>
  <p><%= item.quantity%></p>
  <h3>Description</h3>
  <p class="description"><%=item.description%><p>
  
  <% const editLink = `/update/${item.id}`%>
  <% const deleteLink = `/delete/${item.id}`%>
  <button><a href=<%=editLink%>>Update Item</a></button>
  <button><a href=<%=deleteLink%>>Delete Item</a></button>
</div>

<%- include('footer') %>

