<%- include('header') %>
    <div class="form-container">
        <form action="/update" method="post" class="form-container">
            
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required value=<%= item.name %>>
            </div>
            <br>
            
            <div class="form-group">
                <label for="category">Category</label>
            
                <input type="radio" name="category" id="game" value="game" checked>
                <label for="game">Game</label>

                <input type="radio" name="category" id="console" value="console">
                <label for="console">Console</label>
                <br>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" value=<%= item.price %>>
                <br>
            </div>
            
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" name="quantity" id="quantity" value=<%= item.quantity %>>
                <br>
            </div>

            <div class="form-group">
                <label for="platform">Platform</label>
                <input type="text" name="platform" id="platform" value=<%= item.platform %>>
                <br> 
            </div>
            
            <div class="form-group">
                <label for="condition">Condition</label>
                <input type="text" name="condition" id="condition" value=<%= item.condition %>>
                <br>
            </div>
            
            <!-- <label>Condition: 
                <select name="condition">
                <option value="New">New</option>
                <option value="Used">Used</option>
                </select>
            </label> -->
            <input type="submit" value="Add Item">
        </form>
    </div>

<%- include('footer') %>