<%-include("../fragments/header") %>
<main>
    <h1>Welcome, todays updates: </h1> 
    <%if (messages){%>
      <div class="items">
        <% messages.forEach(message => { %>
            <div class="item">
                <a href=<%= message.path %>>

                  <h2><%= message.title %></h2>
                    <p><%= message.description %></p>  
                </a>
                
            </div>
        <% }) %>
      </div>
    <%}else{%>
      <h2>No messages Found<h2>
    <%}%>
    
</main>
<%- include('../fragments/footer') %>
